@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

body{
    
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


h1{
   color: forestgreen;
}

header{

    top: 0;
    left: 0;
    width: 100%;
    height:fit-content;
   
}

.text-main .contain1{
    font-size: 40px;
    width: 400px;
    
}

footer{
    /* background-color:gray;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    background-color: gray;
    padding: 5px;
    text-align: center;
    width: 100%;
    margin-top: auto;
    


}

footer .text{
    color: white;
}

.sub-contain{
    display: flex;
    align-items: flex-start;
}

.sub-contain .text-contain{
    margin-left: 30%;
}

.text-contain button{
    border-radius: 30px;
    width:150px;
    height: 50px;
    font-size: 15px;
    color: white;
    background-color: forestgreen;
    border: none;
}

.text-contain button:hover{
    opacity: 0.5;
}