<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SumNews</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ocr.css') }}">
</head>
<body>
    <header>
        <h1 onclick="goHome()">SumNews</h1>
    </header>

    <div>
        
    </div>

    <div class="main">

        <h2>Your Summary</h2>

        <textarea readonly id="summary" rows="4" cols="50" placeholder="paste article text" >
           
        </textarea>
    
    </div>

    <script>
    </script>
    #

</body>
</html>